<div style="text-align:-webkit-center">
  <table mat-table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Fournisseur</th>
        <th>E-mail Fournisseur</th>
        <th>Ingrédients</th>
        <th>Description</th>
        <th>Âge</th>
        <th>Conservation</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits ; even as isEven" [style.color]="isEven ? 'blue' : 'red'">
        <td>{{ produit.nom | uppercase }}</td>
        <td>{{ produit.fournisseur }}</td>
        <td>{{ produit.emailFour }}</td>
        <td>{{ produit.listIngredients }}</td>
        <td>{{ produit.description | lowercase | slice:0:19}}</td>
        <td>{{ produit.age }}</td>
        <td>{{ produit.conditionConservation }}</td>
        <td *ngIf="produit.prix">{{ produit.prix | number: '.2'}} €</td>
        <td *ngIf="!produit.prix"></td>
        <td>
          <span>
            <!-- <mat-icon svgIcon="delete"></mat-icon> -->
            <button mat-raised-button color="warn" (click)="remove(produit.nom)"> Supprimer</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center">
  <button *ngIf="displayForm === false" style="margin: 20px" mat-raised-button color="primary" (click)="showForm()">AJouter produit</button>
  <button *ngIf="displayForm === true" style="margin: 20px" mat-raised-button color="primary" (click)="showForm()">Annuler l'ajout</button>
</div>
<div style="text-align: -webkit-center">
  <form *ngIf="displayForm === true" (ngSubmit)="register()" [formGroup]="productForm">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom du produit" formControlName="nom" ngModel>
        <div style="color: blue; font-weight: bold" *ngIf="nomProduitCtrl.dirty && nomProduitCtrl.hasError('required')">Nom
          est vide</div>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Fournisseur" formControlName="fournisseur" ngModel>
        <div style="color: blue; font-weight: bold" *ngIf="fournisseurCtrl.dirty && fournisseurCtrl.hasError('required')">Fournisseur
          est vide</div>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Âge" formControlName="age" type="number" min="0" ngModel>
        <div style="color: blue; font-weight: bold" *ngIf="ageCtrl.dirty && ageCtrl.hasError('required')">Âge est vide</div>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" formControlName="description" ngModel>
        <div style="color: blue; font-weight: bold" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')">Description
          est vide</div>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Enregistrer</button>
    <button mat-raised-button type="button" (click)="reset()">Annuler</button>
  </form>
</div>